{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container">
    <br>
    <div class="row">
        <div class="col-xs-1 text-center">
            <h1 class="display-4">The King of Horror</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="image-container">
            <img class="home-image sk-img" src="{% static '' %}img/sk_young.jpg" />
            <img class="home-image sk-img" src="{% static '' %}img/sk_middleage.jpg" />
            <img class="home-image sk-img" src="{% static '' %}img/sk_old.jpg" />
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 text-center">
            <h1>"I was born with a love of the night and the unquiet coffin."</h1>
        </div>
    </div>
    <div class="row">
        <div class="image-container">
            <img id="sk-signature" src="{% static '' %}img/sk_signature.png" />
        </div>
    </div>
    <br>
    <div class="row">
        <hr>
        <h2 class="col-xs-1 text-center collapsible">A KING IS BORN</h2>
        <div class="col-xs-1 text-center collapsible-content">
            Stephen Edwin King was born on September 21, 1947, in Portland, Maine.
            King is recognized as one of the most famous and successful horror writers of all time.
            His parents, Donald and Nellie Ruth Pillsbury King, split up when he was very young,
            and he and his brother David divided their time between Indiana and Connecticut for several years.
            King later moved back to Maine with his mother and brother.
            There he graduated from Lisbon Falls High School in 1966.
            <br>
            King stayed close to home for college, attending the University of Maine at Orono.
            There he wrote for the school's newspaper and served in its student government.
            While in school, King published his first short story, which appeared in Startling Mystery Stories.
            After graduating with a degree in English in 1970, he tried to find a position as a teacher
            but had no luck at first. King took a job in a laundry and continued to write stories in his spare time
            until late 1971, when he began working as an English educator at Hampden Academy.
            It was that year that he also married fellow writer Tabitha Spruce, with who he has three children :
             They have three children: Naomi Rachel, now a reverend, Joseph Hillstrom, who now writes under the
            pen name Joe Hill and is a lauded horror-fiction writer in his own right, and Owen Phillip,
            now a published writer with who King wrote together the book "Sleeping Beauties" in 2017.
        </div>
        <hr>
        <h2 class="col-xs-1 text-center collapsible">RISE OF THE KING</h2>
        <div class="col-xs-1 text-center collapsible-content">
            In 1973, King sold his first novel, Carrie, the tale of a tormented teen who gets revenge on her peers.
            The book became a huge success after it was published the following year, allowing him to devote himself
            to writing full time. It was later adapted for the big screen with Sissy Spacek as the title character.
            More popular novels soon followed, including Salem's Lot (1975), The Shining (1977), Firestarter (1980),
            Cujo (1981) and IT (1986).
            <br>
            While making novels about vicious, rabid dogs and sewer-dwelling monsters — as seen in Cujo and IT,
            respectively — King published several books as Richard Bachman. Four early novels — Rage (1977),
            The Long Walk (1979), Roadwork (1981) and The Running Man (1982) — were published under the moniker
            because of King's concern that the public wouldn't accept more than one book from an author within a year.
            <br>
            In the late 1970s, King began what became a series of interconnected stories about a lone gunslinger,
            Roland, who pursues the "Man in Black" in an alternate-reality universe that is a cross between
            J. R. R. Tolkien's Middle-earth and the American Wild West as depicted by Clint Eastwood and Sergio Leone
            in their spaghetti Westerns. The first of these stories, The Dark Tower: The Gunslinger,
            was initially published in 1977. The Gunslinger was continued as an eight-book epic series called
            The Dark Tower, whose books King wrote and published infrequently over four decades.
            <br>
            Although his carreer soared, in the early 1970s, King developed a drinking problem which would plague him
            for more than a decade. Soon after Carrie's release in 1974, King's mother died of uterine cancer;
            King has written of his severe drinking problem at this time, stating that he was drunk while delivering
            the eulogy at his mother's funeral.King's addictions to alcohol and other drugs were so serious
            during the 1980s that, as he acknowledged later, he can barely remember writing Cujo.
            Shortly after the novel's publication, King's family and friends staged an intervention,
            and he then sought help, quit all drugs (including alcohol) in the late 1980s, and has remained sober since.
            The first novel he wrote after becoming sober was Needful Things, published in 1993.
            <br>
            While he continued to build his empire of fictional horror after his recovery from addiction,
            the real horror had reached him in 1999 : when he was walking on the shoulder of Maine State Route 5,
            in Lovell, Maine and got strucked by a van, landed in a depression in the ground about 14 feet
            from the pavement of Route 5. He got seriously injured and was reported dead in the media, but he ultimately survived,
            though the recovery took him years. He used this time to pu together On Writing, his personal bible
            about writing and being a writer.
        </div>
        <hr>
        <h2 class="col-xs-1 text-center collapsible">LONG LIVE THE KING</h2>
        <div class="col-xs-1 text-center collapsible-content">
            Since 2000, King actively participates in the digital era, communicating with his fans via his social media accounts
            and via his website. He continued to create principally in the genre of horror, expanding his personal universe :
            Doctor Sleep (2013) is a sequel to story of The Shining, Black House (2001), co-written with Peter Straub, is a
            sequel to their previous common book The Talisman, and the The Wind Through the Keyhole (2012) is a complementary story to the
            Dark Tower-septology. His common story with Richard Chizmar about Gwendy Peterson, a girl from Castle Rock with a special
            button box expands both the universe of Castle Rock and the Dark Tower.
            <br>
            He also experimented with other genres :  Joyland (2013) is a pulp-fiction style, Mr. Mercedes (2014),
            with Finders Keepers (2015) and End of Watch (2016) rounded out a crime trilogy what he later continued with the
            Holly Gibney-books, and in 2017, he teamed with son Owen to deliver Sleeping Beauties, a feminist-dystopian book.
            <br>
            Hi books won numerous awards over the years, and he became a cultural phenomen.
            In honor of his prolific output and success in his craft, King was among the recipients of the National Medal
            of Arts in 2015. He has the Guinness World Record for the most motion picture adaptations from a
            living author, and also also holds the record for the most books on The New York Times' Best Seller list
            at one time.
            <br>
            Today King and hs wife own and divide their time between three houses: one in Bangor, Maine
            (set to become a museum and writer's retreat), one in Lovell, Maine, and for the winter a waterfront
            mansion located off the Gulf of Mexico in Sarasota, Florida. When he is not writing, King is occupied with
            music, his long-time lover (King and his wife Tabitha own Zone Radio Corp), as well as charity (as the founder of the
            The Stephen and Tabitha King Foundation), and of course, reading. He owns democratic political views, and feels
            responsible to support libraries, schools, local fire departments in need of updated lifesaving equipment,
             a scattering of organisations that underwrite the arts, and the poorest families in his home state Maine.
        </div>
        <hr>
    </div>
</div>
<br>
<script type="text/javascript" src="{% static 'js/js_about.js' %}"></script>
{% endblock content %}