{% extends 'base.html' %}
{% block content %}
    <div class="container px-5">
        <div class="row">
            <h1 class="display-4">Add New Book</h1>
        </div>
        <div class="row">
            <h4 class="text-danger">{{ errorMsg }}</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="writer">Writer</label>
                        <input type="text" id="writer" name="writer" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="published">Publication</label>
                        <input type="date" id="published" name="published" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" class="form-control">
                            <option value="">--Select a type--</option>
                            <option value="Novel">Novel</option>
                            <option value="Non-fiction">Non-fiction</option>
                            <option value="Collection">Collection</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="series">Series</label>
                        <select name="series" id="series" class="form-control">
                            <option value="Stand-alone(s)">Stand-alone(s)</option>
                            <option value="Dark Tower">Dark Tower</option>
                            <option value="Shining">Shining</option>
                            <option value="Eclipse-books">Eclipse-books</option>
                            <option value="Tak-books">Tak-books</option>
                            <option value="Castle Rock">Castle Rock</option>
                            <option value="Derry">Derry</option>
                            <option value="Gwendy Peterson">Gwendy Peterson</option>
                            <option value="Jack Sawyer">Jack Sawyer</option>
                            <option value="Bill Hodges - trilogy">Bill Hodges - trilogy</option>
                            <option value="Holly Gibney">Holly Gibney</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        <textarea id="content" name="content" rows="8" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="quote1">Quote 1</label>
                        <textarea id="quote1" name="quote1" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="quote2">Quote 2</label>
                        <textarea id="quote2" name="quote2" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="quote3">Quote 3</label>
                        <textarea id="quote3" name="quote3" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="funfact">Fun Fact</label>
                        <textarea id="funfact" name="funfact" rows="8" class="form-control"></textarea>
                    </div>
                    <br>
                    <input type="submit" value="Add New Book" class="btn btn-md btn-primary mr-2"/>
                    <a href="{% url 'books:list' %}" class="btn btn-md btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}