{% extends 'base.html' %}
{% block content %}
{% load static %}
    <div class="container px-5">
        <br>
        <div class="row">
            <div class="col-xs-1 text-center">
                <h1 class="display-4">Your feedback is appreciated!</h1>
            </div>
        </div>
        <div class="row"><div class="image-container">
           <img class="home-image" src="{% static '' %}img/sk_feedback.jpg" />
        </div>
         </div>
        <div class="row">
            <h4 class="text-danger">{{ errorMsg }}</h4>
        </div>
        <div class="row">
            <div class="image-container">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="text-center">
                            <h1 for="ratings">RATING</h1>
                            <div class="image-container">
                                <fieldset id="ratings" name="ratings"class="image-container starability-fade">
                                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="0" checked aria-label="No rating." />
                                    <input type="radio" id="rate1" name="rating" value="1_Terrible"/>
                                    <label for="rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="rate2" name="rating" value="2_Not good"/>
                                    <label for="rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="rate3" name="rating" value="3_Average"/>
                                    <label for="rate3" title="Average">3 stars</label>
                                    <input type="radio" id="rate4" name="rating" value="4_Very good"/>
                                    <label for="rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="rate5" name="rating" value="5_Amazing"/>
                                    <label for="rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                            <div class="image-container">
                                <div class="row">
                                    <h1 for="feedback">FEEDBACK</h1>
                                    <textarea id="feedback" name="feedback" rows="8" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="text-center">
                        <input type="submit" value="Send Feedback" class="btn btn-lg btn-dark mr-2"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}