{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-4">Are you sure you want to delete the answer?</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="YES" class="btn btn-md btn-danger"/>
                    <a href="{% url 'quizes:detail' quizname=quiz.name %}" class="btn btn-md btn-primary">NO</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}