{% extends 'base.html' %}
{% block content %}
    <div class="container px-5">
        <div class="row">
            <h1 class="display-4">Update Answer</h1>
        </div>
        <div class="row">
            <h4 class="text-danger">{{ errorMsg }}</h4>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="number">Number</label>
                        <input type="number" id="number" name="number" class="form-control" value="{{answer.number}}"/>
                    </div>
                    <div class="form-group">
                        <label for="answer">Answer</label>
                        <textarea id="answer" name="answer" rows="3" class="form-control">{{answer.answer}}</textarea>
                    </div>
                    <input type="checkbox" name="correct" id="correct">
                    <label for="correct">Correct Answer</label><br>
                    <br>
                    <input type="submit" value="Update Answer" class="btn btn-md btn-primary mr-2"/>
                    <a href="{% url 'quizes:detail' quizname=quiz %}" class="btn btn-md btn-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}